# Игнорировать директорию node_modules
node_modules

# Игнорировать директорию .git
.git

# Игнорировать файл .env
.env

# Игнорировать файлы журналов
*.log

# Игнорировать временные файлы и директории
tmp/
*.temp
*.swp

# Игнорировать файлы сборки и кэш
dist/
build/
.cache/

# Игнорировать файлы и директории IDE
.vscode/
.idea/